.explanation_card-wrapper {
  display            : flex;
  justify-content    : space-evenly;
  align-items        : flex-start;
  flex-wrap          : wrap;
  // background-image   : url("../../assets/images/section2bg.png"), url("../../assets/images/Texture.png");
  // background-position: 0% 100%, 0 0;
  // background-size    : cover, auto;
  // background-repeat  : no-repeat, repeat;
}