.play-wrapper {
    width    : 90%;
    max-width: 90%;
    margin   : 50px auto;

    h2 {
        margin        : 30px 0;
        font-family   : Redtone, sans-serif;
        font-style    : normal;
        font-weight   : bold;
        font-size     : 45px;
        line-height   : 45px;
        text-align    : center;
        letter-spacing: 0.075em;
        color         : #FFFFFF;
    }
}