.sales_page-wrapper {
    width    : 90%;
    max-width: 90%;
    margin   : 50px auto;

    &>* {
        color: white;
    }

    .sale_info {

        * {
            color: white;
        }
    }

    .ant-row {
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin-bottom  : 30px;
    }

    .nft_list {
        display        : flex;
        justify-content: center;
        align-items    : center;
        flex-wrap      : wrap;

        .ant-card {

            .ant-card-actions {
                background-color: #174aff;
                transition      : all 0.3s ease-in-out;

                a {
                    color: white;
                }

                &:hover {
                    background-color: white;

                    a {
                        color: #174aff;
                    }
                }
            }
        }
    }

    // new added
    .title {
        font-family   : "Redtone";
        font-weight   : bold;
        font-size     : 45px;
        line-height   : 45px;
        letter-spacing: 0.075em;
    }

    ul.tabs {
        list-style-type: none;
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 0;

        &>li {

            &:first-child {
                margin-right: 32px;
            }

            &>a {
                font-family  : Karla;
                font-size    : 17px;
                line-height  : 27px;
                color        : white;
                padding      : 4px 0;
                border-bottom: 1px solid transparent;

                &:hover {
                    color       : #426BFF;
                    border-color: #426BFF;
                }

                &.active {
                    color       : #426BFF;
                    border-color: #426BFF;
                }
            }
        }
    }
}