.main-wrapper {
    margin-top: 30px;

    .section--nft_poker-wrapper {
        background-image   : url("../../assets/images/herocircle.png");
        background-repeat  : no-repeat;
        background-position: 50% 100%;
        background-size    : cover;
        min-height         : 140vh;

        .section--nft_poker {
            max-width      : 90%;
            margin         : 0 auto;
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            &>div:first-child {

                &>p:first-child {
                    margin        : 0 0 10px 0;
                    font-family   : Redtone, sans-serif;
                    font-size     : 75px;
                    font-weight   : 600;
                    color         : #fff;
                    line-height   : 85px;
                    letter-spacing: 3px;
                }

                &>p:nth-child(2) {
                    font-family: Karla, sans-serif;
                    font-size  : 18px;
                    font-weight: 400;
                    color      : hsla(0, 0%, 100%, 0.96);
                    line-height: 28px;
                }

                &>.mint_poker_hands-wrapper {
                    display   : flex;
                    max-width : 80%;
                    margin-top: 40px;
                    flex-wrap : wrap;

                    &>.mint_poker_hands {
                        width           : 100%;
                        padding         : 20px;
                        border-radius   : 10px;
                        background-color: white;
                        box-shadow      : 0 0 20px 0 hsl(0deg 0% 100% / 35%);

                        &>p:first-child {
                            text-align    : center;
                            font-family   : Redtone, sans-serif;
                            font-size     : 22px;
                            color         : rgba(18, 21, 31, 0.77);
                            padding-bottom: 20px;
                            border-bottom : 0.4px solid rgba(0, 0, 0, 0.15);
                        }

                        &>div {
                            display        : flex;
                            justify-content: space-between;
                            align-items    : center;
                            margin-bottom  : 20px;

                            &>select#mint_num {
                                display      : block;
                                width        : 40%;
                                height       : 45px;
                                padding      : 5px 16px 8px;
                                border       : 1px solid #d8d8d8;
                                border-radius: 8px;
                                font-size    : 20px;
                                font-family  : Karla, sans-serif;
                                color        : #333333;

                                &:focus {
                                    border-color: rgb(10, 172, 212);
                                }
                            }

                            &>p:last-child {
                                display        : flex;
                                justify-content: center;
                                align-items    : center;
                                width          : 40%;
                                height         : 45px;
                                margin-bottom  : 0;
                                border         : 1px solid rgba(255, 41, 195, 0.34);
                                border-radius  : 8px;
                                font-size      : 20px;
                                font-family    : Karla, sans-serif;
                                color          : #333333;
                            }

                            &+p {
                                margin-top : 10px;
                                font-family: Karla, sans-serif;
                                font-size  : 15px;
                                color      : rgba(0, 0, 0, 0.45);
                            }
                        }

                        &>button {
                            width           : 100%;
                            margin-top      : 20px;
                            padding-top     : 16px;
                            padding-bottom  : 16px;
                            border-radius   : 8px;
                            background-image: linear-gradient(117deg, #1847ed, #391cef);
                            transition      : all 500ms ease;
                            font-family     : Karla, sans-serif;
                            font-size       : 19px;
                            color           : white;
                            text-align      : center;
                            letter-spacing  : 1px;

                            &:hover {
                                background-color: transparent;
                                background-image: linear-gradient(117deg, #2a59ff, #462bf5);
                            }
                        }
                    }

                    &>p:last-child {
                        width      : 100%;
                        margin-top : 10px;
                        font-family: Karla, sans-serif;
                        font-size  : 16px;
                        color      : white;
                        line-height: 26px;
                        text-align : center;
                    }
                }
            }

            &>div:last-child {
                max-width      : 50%;
                display        : flex;
                flex-direction : column;
                justify-content: center;
                align-items    : center;

                &>img {
                    display: block;
                    width  : 70%;
                    margin : 0 auto;
                }

                &>p {
                    margin        : 20px 0 10px 0;
                    font-family   : Redtone, sans-serif;
                    font-size     : 22px;
                    font-weight   : 600;
                    color         : #fff;
                    text-align    : center;
                    line-height   : 32px;
                    letter-spacing: 1px;
                }

                &>.time_card-wrapper {
                    display        : flex;
                    justify-content: center;
                    align-items    : center;

                    &>.time_card {
                        margin          : 0 10px;
                        padding         : 20px 20px;
                        border-radius   : 10px;
                        background-color: #fff;
                        box-shadow      : 0 0 6px 0 hsl(0deg 0% 100% / 25%);

                        &>p {
                            margin-bottom : 0;
                            font-family   : Redtone, sans-serif;
                            letter-spacing: 1px;
                            text-align    : center;

                            &:first-child {
                                color      : #242121;
                                font-size  : 65px;
                                line-height: 65px;
                                font-weight: 600;
                            }

                            &:last-child {
                                margin-top : 10px;
                                color      : rgba(36, 33, 33, 0.6);
                                font-size  : 25px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

    .section--game_play {
        width              : 100%;
        display            : flex;
        justify-content    : space-between;
        align-items        : flex-start;
        overflow           : hidden;
        height             : auto;
        padding-bottom     : 63px;
        background-image   : url(../../assets/images/section2bg_1.png);
        background-position: 100% 50%;
        background-size    : cover;
        background-repeat  : no-repeat;

        &>div:last-child {
            max-width  : 40%;
            margin-left: 0;
            padding    : 228px 40px 0 20px;

            &>p:first-child {
                margin-bottom : 30px;
                font-family   : Redtone, sans-serif;
                font-size     : 70px;
                font-weight   : 600;
                color         : #fff;
                line-height   : 75px;
                letter-spacing: 3px;
                text-align    : left;
            }

            &>div:nth-child(2)>p {
                max-width  : 80%;
                font-family: Karla, sans-serif;
                color      : hsla(0, 0%, 100%, 0.81);
                font-size  : 17px;
                line-height: 27px;
            }

            &>div:last-child {
                display        : flex;
                justify-content: flex-start;
                align-items    : center;
                margin-top     : 20px;

                &>* {
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    min-width      : 130px;
                    margin-top     : 40px;
                    padding        : 14px 26px;
                    font-family    : Karla, sans-serif;
                    color          : #fff;
                    font-size      : 18px;
                    font-weight    : 400;
                    letter-spacing : 0px;
                    transition     : all 0.1s ease-out;

                    &.btn-play {
                        background-color: #133cce;
                        border-radius   : 6px;

                        &:hover {
                            box-shadow: 1px 1px 20px 0 #174aff;
                        }
                    }
                }
            }
        }
    }

    .section--open_source-wrapper {
        background-image: url("../../assets/images/section3bg.png");
        background-size : cover;

        &>.section--open_source {
            width    : 90%;
            max-width: 90%;
            margin   : 0 auto;

            &>div {

                &:first-child {
                    display        : flex;
                    justify-content: space-between;
                    align-items    : center;
                    width          : 100%;

                    &>div {
                        width    : 45%;
                        max-width: 45%;

                        &:first-child {

                            &>p {
                                margin-bottom : 30 px;
                                font-family   : Redtone, sans-serif;
                                font-size     : 70px;
                                font-weight   : 600;
                                color         : #fff;
                                line-height   : 75px;
                                letter-spacing: 3px;
                                text-align    : left;
                            }

                            &>div {

                                &>p {
                                    max-width  : 80%;
                                    font-family: Karla, sans-serif;
                                    font-size  : 17px;
                                    color      : hsla(0, 0%, 100%, 0.81);
                                    line-height: 27px;
                                }

                                a {
                                    color     : #c2aeff;
                                    transition: all 200ms ease;

                                    &:hover {
                                        color: #9c7bff;
                                    }
                                }
                            }
                        }

                        &:last-child {

                            &>img {
                                display  : block;
                                max-width: 100%;
                                margin   : 0 auto;
                            }
                        }
                    }
                }

                &:last-child {
                    max-width     : 28%;
                    margin        : 0 auto;
                    margin-top    : 160px;
                    padding-bottom: 100px;
                }
            }
        }
    }
}