.nft_card {
    background-color: white;

    .nft_card-name {
        font-family: Karla;
        font-style : normal;
        font-weight: bold;
        font-size  : 20px;
        line-height: 30px;
        color      : #242121;
        text-align : center;
    }
}